<script type="text/javascript">
  $(function () {
    var url = window.location.search.match(/url=([^&]+)/);
    if (url && url.length > 1) {
      url = decodeURIComponent(url[1]);
    } else {
      url = "/swagger/api.json";
    }

    window.swaggerUi = new SwaggerUi({
      url: url,
      dom_id:"swagger-ui-container",
      supportHeaderParams: false,
      supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
      onComplete: function(swaggerApi, swaggerUi){
        if(console) {
              console.log("Loaded SwaggerUI")
              console.log(swaggerApi);
              console.log(swaggerUi);
          }
        $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
      },
      onFailure: function(data) {
        if(console) {
              console.log("Unable to Load SwaggerUI");
              console.log(data);
          }
      },
      docExpansion: "none"
    });

    window.swaggerUi.load();
  });

</script>

<div class="swagger-section">
  <div id="message-bar" class="swagger-ui-wrap">
      &nbsp;
  </div>

  <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</div>